.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.w-1\/2 {
  width: 50%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity))
}

.bg-yellow-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(161 98 7 / var(--tw-bg-opacity))
}

.text-\[30px\] {
  font-size: 30px
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
